.cart-button {
    &__sum {
        margin-right: 13px;
    }

    &__separator {
        height: 100%;
        width: 1px;
        background-color: rgba(#ffffff, 0.25);
    }

    &__counter {
        margin-left: 13px;
    }

    &__image {
        margin-top: -5px;
        margin-right: 8px;
    }
}
