.nav-sorting {
    display: flex;
    align-items: center;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    font-weight: 700;

    &__popup-triangle {
        transform: rotate(180deg);
        margin-right: 7px;
        transition: transform 0.2s linear;
        &--opened {
            transform: rotate(0);
        }
    }

    &__popup {
        position: relative;
        font-weight: 400;
        text-decoration: underline dashed;
        color: #fe5f1e;
        cursor: pointer;
    }

    &__popup-list {
        display: none;
        position: absolute;
        top: 200%;
        right: 0;
        padding: 13px 0;
        color: #000;
        font-weight: 400;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(#000, 0.09);
        background-color: #fff;

        &--opened {
            display: block;
        }
    }
}
