.nav-sorting {
    display: flex;
    align-items: center;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    font-weight: 700;

    &__popup-triangle {
        transform: rotate(180deg);
        margin-right: 7px;
        transition: transform 0.2s linear;
        &--opened {
            transform: rotate(0);
        }
    }

    &__popup {
        position: relative;
        font-weight: 400;
        text-decoration: underline dashed;
        color: #fe5f1e;
        cursor: pointer;
    }

    &__popup-list {
        display: none;
        position: absolute;
        top: 200%;
        right: 0;
        padding: 13px 0;
        color: #000;
        font-weight: 400;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(#000, 0.09);
        background-color: #fff;

        &--opened {
            display: block;
        }
    }

    &__popup-list-btn {
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 700;
        border: 0;
        background: none;
        cursor: poiner;
        padding: 0;

        width: 100%;
        text-align: left;
        padding: 10px 18px;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        transition: background-color 0.2s linear, text-shadow 0.2s linear,
            color 0.2s linear;

        &:hover {
            background-color: rgba(#fe5f1e, 0.05);
            color: #eb5a1e;
            text-shadow: 0 0 0.9px #eb5a1e, 0 0 0.9px #eb5a1e;
        }
    }

    &__btn {
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 700;
        border: 0;
        background: none;
        cursor: poiner;
        padding: 0;

        font-size: 14px;
        font-weight: 400;
        color: #eb5a1e;
        text-decoration: underline dashed;
        transition: text-shadow 0.2s linear;

        &:hover,
        &:focus {
            text-shadow: 0 0 0.9px #eb5a1e, 0 0 0.9px #eb5a1e;
        }
    }
}
