@import '../../scss/vars';
.content {
    padding: 40px 0;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: $xs) {
    .content {
        padding: 15px 0;

        &__top {
            flex-direction: column;
            // justify-content: flex-start;
            align-items: start;
        }
    }
}
@media (min-width: $lg) {
    .content {
        padding: 40px 0;
        &__top {
            flex-direction: row;
            align-items: center;
        }
    }
}
