.pizza-block {
    display: grid;
    grid-template-rows: auto;
    // display: flex;
    // flex-direction: column;
    // width: 23%;

    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    margin-bottom: 60px;

    &__image {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    &__title {
        font-size: 20px;
        font-weight: 800;
        margin-top: 11px;
        margin-bottom: 22px;
        text-align: center;
    }

    &__description {
        flex: 1 0 auto;
        font-size: 15px;
        font-weight: 400;
        color: rgba(#000, 0.6);
        line-height: 1.5;
        margin-bottom: 22px;
    }

    &__params {
        display: flex;
        flex-direction: column;
        padding: 5px;
        border-radius: 10px;
        background-color: #f3f3f3;
        margin-bottom: 17px;
    }

    &__params-dough {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 2%;
        .btn--params {
            width: 48%;
        }
    }

    &__params-size {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .btn--params {
            width: 31%;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-size: 22px;
        font-weight: 700;
    }
}
