// reset.css
@import 'vendor/reset';

// vars
@import 'vars';

// fonts
@import 'fonts';

body {
    font-family: Proxima Nova;
    font-weight: 700;
    background-color: $background;
    padding: 40px;

    overflow-y: scroll;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1370px;
    height: 100%;
    min-height: calc(100vh - 40px * 2);
    margin: 0 auto;

    background-color: $white;
    border-radius: 10px;
    padding: 0 50px;
}

.mark {
    background: 0;
    &--color-orange {
        color: #fe5f1e;
    }
}

a {
    text-decoration: none;
}

.section {
    font-family: 'Proxima Nova', sans-serif;
    margin: 32px 0;

    &__title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 35px;
    }

    .pizzas-unavailable {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 20px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;

        @media (min-width: $xs) {
            grid-template-columns: repeat(1, 1fr);
        }
        @media (min-width: $sm) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: $md) {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
        @media (min-width: $lg) {
            gap: 35px;
        }

        @media (min-width: $xl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.cart {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 821px;
    font-family: 'Proxima Nova', sans-serif;

    &--empty {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
    }

    &__sub-title {
        color: #777777;
        line-height: 1.5;
        font-size: 18px;
        text-align: center;
        margin-bottom: 47px;
    }

    &__emoji {
        position: relative;
        margin-left: 20px;
        top: -8px;
        font-size: 40px;
    }

    &__image {
        display: block;
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-bottom: 74px;
    }

    &__icon {
        position: relative;
        top: 3px;
        margin-right: 17px;
    }

    &__body {
        margin-top: 32px;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__footer {
        display: flex;
        flex-direction: column;
    }

    &__footer-total {
        font-size: 22px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__footer-btns {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: $xs) {
    body {
        padding: 10px;
    }
    .wrapper {
        padding: 0 10px;
        min-height: calc(100vh - 10px * 2);
    }
    .cart {
        &--empty {
            width: 100%;
            justify-content: flex-start;
        }

        &__title {
            font-size: 22px;
            margin-bottom: 15px;
        }

        &__emoji {
            font-size: 30px;
            margin-left: 10px;
        }

        &__sub-title {
            font-size: 15px;
        }

        &__image {
            width: 70%;
        }
    }
}

@media (min-width: $sm) {
    body {
        padding: 20px;
    }
    .wrapper {
        padding: 0 20px;
        min-height: calc(100vh - 20px * 2);
    }
    .cart {
        &--empty {
            width: 70%;
        }

        &__title {
            font-size: 28px;
            margin-bottom: 15px;
        }

        &__emoji {
            font-size: 35px;
            margin-left: 20px;
        }

        &__sub-title {
            font-size: 17px;
        }

        &__image {
            width: 70%;
        }
    }
}

@media (min-width: $lg) {
    body {
        padding: 30px;
    }
    .wrapper {
        padding: 30px;
        min-height: calc(100vh - 30px * 2);
    }
}
