// reset.css
@import 'vendor/reset';

// vars
@import 'vars';

// fonts
@import 'fonts';

body {
    font-family: Proxima Nova;
    font-weight: 700;
    background-color: $background;
    padding: 40px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
}

.wrapper {
    max-width: 1370px;
    height: 100%;
    padding: 0 px;
    margin: 0 auto;

    background-color: $white;
    border-radius: 10px;
    padding: 0 50px;
}
